<!doctype html>
<!--[if lt IE 8]>         <html class="no-js lt-ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Bacchus</title>
        <meta name="description" content="Responsive Admin Web App">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
        <!-- Needs images, font... therefore can not be part of main.css -->
        <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="bower_components/weather-icons/css/weather-icons.min.css">
        <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- end Needs images -->

            
            <!-- build:css({.tmp,client}) styles/main.css -->
            <link rel="stylesheet" href="styles/bootstrap.css">
            <link rel="stylesheet" href="styles/ui.css">
            <link rel="stylesheet" href="styles/main.css">
            <!-- endbuild -->

    </head>
    <body data-ng-app="app"
          id="app"
          class="app"
          data-custom-page 
          data-off-canvas-nav
          data-ng-controller="AppCtrl"
          data-ng-class=" {'layout-boxed': admin.layout === 'boxed' } "
          >
        <!--[if lt IE 9]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <section data-ng-include=" 'views/header.html' "
                 id="header"
                 class="header-container "
                 data-ng-class=" {'header-fixed': admin.fixedHeader} "
                 data-ng-controller="HeaderCtrl"></section>

        <div class="main-container">
            <aside data-ng-include=" 'views/nav.html' "
                   id="nav-container"
                   class="nav-container"
                   data-ng-class=" {'nav-fixed': admin.fixedSidebar, 'nav-horizontal': admin.menu === 'horizontal', 'nav-vertical': admin.menu === 'vertical'}">
            </aside>

            <section data-ng-view
                     id="content"
                     class="content-container {{admin.pageTransition.class}}"></section>
        </div>


        <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <!-- build:js scripts/vendor.js -->
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-route/angular-route.min.js"></script>
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>
        <!-- endbuild -->

        <!-- build:js scripts/ui.js -->
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="bower_components/jquery-spinner/dist/jquery.spinner.min.js"></script>
        <script src="bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
        <script src="bower_components/jquery-steps/build/jquery.steps.min.js"></script>
        <script src="bower_components/toastr/toastr.min.js"></script>
        <script src="bower_components/bootstrap-file-input/bootstrap.file-input.js"></script>
        <script src="bower_components/jquery.slimscroll/jquery.slimscroll.min.js"></script>
        <script src="bower_components/raphael/raphael-min.js"></script>
        <script src="bower_components/morris.js/morris.js"></script>
        <script src="scripts/vendors/jquery.sparkline.min.js"></script>
        <script src="bower_components/flot/jquery.flot.js"></script>
        <script src="bower_components/flot/jquery.flot.resize.js"></script>
        <script src="bower_components/flot/jquery.flot.pie.js"></script>
        <script src="scripts/vendors/jquery.flot.orderBars.js"></script>
        <script src="bower_components/flot/jquery.flot.stack.js"></script>
        <script src="bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
        <script src="bower_components/flot/jquery.flot.time.js"></script>
        <script src="bower_components/gauge.js/dist/gauge.min.js"></script>
        <script src="bower_components/jquery.easy-pie-chart/dist/angular.easypiechart.min.js"></script>
        <script src="bower_components/textAngular/dist/textAngular-rangy.min.js"></script>
        <script src="bower_components/textAngular/dist/textAngular-sanitize.min.js"></script>
        <script src="bower_components/textAngular/dist/textAngular.min.js"></script>
        <script src="bower_components/angular-ui-tree/dist/angular-ui-tree.min.js"></script>
        <script src="bower_components/ngmap/build/scripts/ng-map.min.js"></script>
        <script src="bower_components/jqvmap/jqvmap/jquery.vmap.min.js"></script>
        <script src="bower_components/jqvmap/jqvmap/maps/jquery.vmap.world.js"></script>
        <script src="bower_components/jqvmap/jqvmap/maps/jquery.vmap.usa.js"></script>
        <script src="bower_components/jqvmap/jqvmap/maps/jquery.vmap.europe.js"></script>
        <script src="bower_components/ng-tags-input/ng-tags-input.min.js"></script>
        <script src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
        <script src="bower_components/moment/moment.js"></script>
        <script src="bower_components/angular-moment/angular-moment.js"></script>
        <!-- endbuild -->

        <!-- build:js({.tmp,client}) scripts/app.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/theme/shared/main.js"></script>
        <script src="scripts/theme/shared/directives.js"></script>
        <script src="scripts/theme/shared/localize.js"></script>
        <script src="scripts/theme/shared/Nav.js"></script>
        <script src="scripts/theme/UI/UICtrl.js"></script>
        <script src="scripts/theme/UI/UIDirective.js"></script>
        <script src="scripts/theme/UI/UIService.js"></script>
        <script src="scripts/theme/Form/FormDirective.js"></script>
        <script src="scripts/theme/Form/FormCtrl.js"></script>
        <script src="scripts/theme/Form/FormValidation.js"></script>
        <script src="scripts/theme/Table/TableCtrl.js"></script>
        <script src="scripts/theme/UI/Map.js"></script>
        <script src="scripts/theme/Task/Task.js"></script>
        <script src="scripts/theme/Chart/ChartCtrl.js"></script>
        <script src="scripts/theme/Chart/ChartDirective.js"></script>
        <script src="scripts/theme/Page/PageCtrl.js"></script>
        <script src="scripts/Temperature/TemperatureCtrl.js"></script>
        <script src="scripts/Temperature/TemperatureService.js"></script>
        <script src="scripts/Led/LedService.js"></script>
        <!-- endbuild -->



    </body>
</html>
