// .page-dashboard {}
.temperature {

  .veryCold {
    background-color: darken($brand-primary, 20%);
    color: $gray-lighter;
  }
  .cold {
    background-color: $brand-primary;
    color: $gray-lighter;
  }
  .chill {
    background-color: $brand-info;
    color: $gray-lighter;
  }
  .normal {
    background-color: $brand-success;
    color: $gray-lighter;
  }
  .warm {
    background-color: $brand-warning;
    color: $gray-lighter;
  }
  .hot {
    background-color: $brand-danger;
    color: $gray-lighter;
  }
  .veryHot {
    background-color: darken($brand-danger, 20%);
    color: $gray-lighter;
  }

  .thermostatExterior {
    height: 130px;
    position: relative;
    top: -28px;
    font-size: 130px;
    text-shadow: none
  }
  .thermostatInterior {
    position: relative;
    top: -157px;
    font-size: 130px;
    text-shadow: none
  }
}
.lightbulb-icon {
  font-size:260px;
}