<div class="page page-dashboard" data-ng-controller="DashboardCtrl">

    <!-- Stats -->
    <div class="row">

        <div class="col-lg-6 col-xsm-6 temperature">
            <section class="panel panel-box">
                <div class="panel-top {{temperature.bgColor}}">
                    <div class="text-center">
                        <h1 class="ng-binding">{{temperature.temperature | number:1}} &deg;C</h1>
                        <p>{{temperature.description}}</p>
                    </div>
                    <div class="divider divider-lg"></div>
                    <div class="divider divider-lg"></div>
                </div>
                <div class="panel-icon {{temperature.bgColor}}">
                    <div class="thermostatExterior">
                        <i class="wi wi-thermometer-exterior">
                        </i>
                    </div>
                    <div class="thermostatInterior">
                        <i class="wi wi-thermometer-internal"></i>
                    </div>
                </div>
                <div class="panel-bottom bg-reverse">
                    <p class="text-muted">Updated</p>
                    <p class="size-h3"><span am-time-ago="temperature.updated"></span></p>
                </div>
            </section>
        </div>


        <div class="col-lg-6 col-xsm-6 temperature">
            <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="fa fa-lightbulb-o"></span> LED</strong></div>
                <div class="panel-body text-center">
                    <div class="lightbulb-icon" ng-class="(led.status) ? 'ionicons ion-ios-lightbulb color-success' : 'ionicons ion-ios-lightbulb-outline'"></div>
                    <div>
                        <button ng-if="led.status" class="btn btn-danger" ng-click="led.toggle()"><span class="glyphicon glyphicon-off"></span> Off</button>
                        <button ng-if="!led.status" class="btn btn-success" ng-click="led.toggle()"><span class="glyphicon glyphicon-off"></span> On</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end stats -->

    <!--<div class="panel panel-default">-->
        <!--<div class="panel-body">-->
            <!--<div data-temperature-realtime-->
                 <!--data-type="realtime"-->
                 <!--style="width: 100%; height: 350px;"-->
                 <!--</div>-->
        <!--</div>-->
    <!--</div>-->

</div>
  